
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .section {
            width: 50%;
            height: 100vh;
            float: left;
        }
    </style>
</head>
<body>
    @*<div>
        <marquee>
            <h1><b>Welcome To My Project</b></h1>
        </marquee>
    </div>*@
    <div>
        @*<h1 style="color:darkcyan;font-size:250%; text-align:center;padding-top:100px;font-weight:bold;">ASP.NET MVC5 Mid Monthly Exam-06</h1>*@
        <h3 style="color: darkblue; font-size: 200%; text-align: center; font-weight: bold;">Ashraful Islam Kayes</h3>
        <h3 style="color:darkblue;font-size:150%; text-align:center;">Batch ID: CS/ACSL-M/56/01</h3>
        <h3 style="color:darkblue;font-size:120%; text-align:center;">ID:1278941</h3>
    </div>
</body>
</html>

